/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

#spotifylogo {
  width: 200px;
  margin-left: 30px;
}

.navigationbar {
  display: flex;
  align-items: center;
  height: 80px;
}

.navigationlinks {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

.navigationlinks div {
  margin-right: 40px;
}

.sectionone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url(/images/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: auto;
  margin: 0;
  padding: 0;
  color: white;
}

.sectionone h1 {
  font-size: 70px;
  margin-left: 30px;
}

.sectionone h2 {
  margin-left: 30px;
  font-weight: lighter;
}

@media screen and (max-width: 662px) {
  .navigationbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 190px;
    margin-top: 40px;
  }
  .navigationlinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 25px;
  }
  .sectionone h1 {
    font-size: 55px;
  }
  .sectionone h2 {
    font-size: 20px;
  }
}
